
/*
		Modules
		Modular components. These shouls be siloed and reusable.
		Bigger modules should have there own css files.
		Name the module something descriptive eg:

		.SearchResults{
		width: 400px
		}

		- Child items should then be named an seperated with (-) like so:

			.SearchResults-item{
			width: 100%;
			}

		- Different types of .SearchResults should be appended with (--) and the tyoe name
		- And then inherit from the original like so:

		.SearchResults--expanded{
		width :800px;
		}

		- Child items of searchResults can then be targeted like so:

		.SearchResults--expanded .SearchResults-item{
			width: 50%;
			float:left;
		}

	- order alphabetically according to containers
*/


/*
	.moduleOne
	- A description about it
------------------------------*/












