<div class="header">
	<header>
		<h1>Stephen Zsolnai - Web Developer</h1>
		<p>I specialise in front-end technologies html5, css3, javascript, nodejs etc. I am based in London, United Kingdom.</p>
		<p>More to follow here soon.</p>
		<ul>
			<li><a href="mailto:steve@zolla.co.uk">Email me</a></li>
			<li><a href="https://twitter.com/stevezol">Tweet at me</a></li>
		</ul>
	</header>

<!-- 	<h2 class="visuallyhidden">Primary Navigation</h2>
	<div id="primaryNav" class="nav nav--primary">
		<nav>
			<ul>
				<li>
					<a href="none">Item one</a>
				</li>
				<li>
					<a href="none">Item two</a>
				</li>
				<li>	
					<a href="none">Item 3</a>
				</li>
			</ul>
		</nav>
	</div> -->

</div> <!-- End of .header -->