<p class="visuallyhidden"><strong>accessibility &amp; help</strong></p> 
<div id="nav-accessibility"> 
    <ul> 
        <li><a accesskey="1" href="/">Home page [Access key '1']</a></li> 
        <li><a accesskey="2" href="#main">Jump to main content [Access key '2']</a></li> 
        <li><a accesskey="4" href="none">Search [Access key '4']</a></li> 
        <li><a accesskey="5" href="#nav-primary">Primary navigation [Access key '5']</a></li> 
        <li><a accesskey="6" href="#nav-secondary">Secondary navigation [Access key '6']</a></li> 
    </ul> 
</div> 
